@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";


.hide-scroll::-webkit-scrollbar {
  display: none;   /* Chrome, Safari */
}

.hide-scroll {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}
